<nav class="navbar navbar-expand-sm  bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a [routerLink]="[ '/funcionario/create' ]" routerLinkActive="active" class="nav-link">Adicionar Funcionário</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="[ '/funcionario' ]" routerLinkActive="active" class="nav-link">Listar Funcionário</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
